<mat-drawer-container></mat-drawer-container>
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="categories-container">
        <app-category-item
          *ngFor="let category of categories"
          [category]="category"
          (delete)="onDeleteCategory($event)"
          (update)="onUpdateCategory($event)"
        ></app-category-item>
      </div>
    </div>
    <div class="col-3">
      <div class="category__aside add">
        <button type="button" class="category__add-button">
          <mat-icon class="category__icon" (click)="openAddCategory()"
            >add</mat-icon
          ></button
        ><span>Add Category</span>
      </div>
    </div>
  </div>
</div>
<app-category-add (addCategory)="onAddCategory($event)"></app-category-add>
