<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="categories-container">
        <div
          class="category"
          *ngFor="let category of categories"
          [ngClass]="category.type"
        >
          <div class="category__title">
            {{ category.title }}
          </div>
          <div class="category__button-group">
            <button>
              <mat-icon class="category__icon">edit</mat-icon>
            </button>
            <button>
              <mat-icon class="category__icon">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
